.loginCenter{
    text-align: center;
    height:100vh;
}

.title{
    text-align: center;
    background-color:#13224d;
    color:#ffffff;
    height: auto;
    margin-bottom:20vh;
    margin-top: 0vh;
}

.button{
    margin:10px;
    width: 50vw;
    height: 10vh;
    color:#ffffff;
    border-style: none;
    font-size: 160%;
}

.login{
    border-bottom: dashed 4px #87CEFA;
    width:25vw;
    margin-left: 36vw;
}

.googleLogin{
    background-color:#cc3d50;

}

.googleLogin:hover{
    background-color:#8a2835;
}

.githubLogin{
    background-color:#232323;
}

.githubLogin:hover{
    background-color:#0f0f0f;
}

.emailLogin{
    background-color: #82cfff;
}

.emailLogin:hover{
    background-color:#619dc2;
}

.guestLogin{
    background-color:#ffd078;
}

.guestLogin:hover{
    background-color:#d6ae63;
}

.loginText{
    font-size: 160%;
    width:50%;
    text-align: center;
}
/*--------------------------------------------------*/
.textarea{
    font-size: 180%;
    width: 80vw;
    height: 50vh;
    resize: none;
}

.textarea:disabled{
    opacity: 0.5;
}

.postModal{
    text-align: center;
}

.modalLogin{
    text-align: center;
}

.closeButton{
    cursor : pointer;
    color:black;
    background-color:white;
    font-size: 160%;
    border-style: none;
    margin-right: 35%;
    margin-bottom: 3%;
}

.post{
    white-space: nowrap;
    cursor: pointer;
    background-color:#13224d;
    color:white;
    border-style: none;
    font-size: auto;
    font-size: 120%;
    margin-left: 30%;
    margin-top: 2%;
}

.post:disabled{
    opacity: 0.5;
}

.loginButton{
    cursor : pointer;
    color:white;
    background-color:#13224d;
    border-style: none;
}

.backButton{
    cursor : pointer;
    color:white;
    background-color: #232323;
    border-style: none;
}

.settingButton{
    z-index: 1;
    font-size:100%;
    background-color: #13224d;
    color:#ffffff;
    cursor : pointer;
}

.postButton{
    z-index: 1;
    font-size:300%;
    background-color: #13224d;
    color:#ffffff;
    cursor : pointer;
}

.buttons{
    position: fixed;
    top: 80%;
    left: 80%;
}
/*-----------------------------------------------*/
.settingTitle{
    text-align: center;
    background-color:#13224d;
    color:#ffffff;
    height: auto;
    margin-bottom:3vh;
    margin-top: 0vh;
}

.icon{
    width: 256px;
    height: 256px;
}

.prfile{
    text-align: center;
}

.logout{
    color:white;
    background-color:rgb(223, 89, 89);
    white-space: nowrap;
}

.logout:hover{
    background-color:rgb(161, 65, 65);
}

.settingButton{
    background-color:#13224d;
    color:white;
    white-space: nowrap;
}
/*--------------------------------------------------*/
.posts{
    border-style: solid;
    border-color: rgb(182, 182, 182);
    border-width: 1px;
    width:50vw;
    height: auto;
    margin: 0 auto;
}