.loginCenter{
    text-align: center;
    height:100vh;
}

.title{
    text-align: center;
    background-color:#13224d;
    color:#ffffff;
    height: 5vh;
    margin-bottom:20vh;
    margin-top: 0vh;
}

.button{
    margin:10px;
    width: 50vw;
    height: 10vh;
    color:#ffffff;
    border-style: none;
    font-size: 160%;
}

.login{
    border-bottom: dashed 4px #87CEFA;
    width:25vw;
    margin-left: 36vw;
}

.googleLogin{
    background-color:#cc3d50;

}

.googleLogin:hover{
    background-color:#8a2835;
}

.githubLogin{
    background-color:#232323;
}

.githubLogin:hover{
    background-color:#0f0f0f;
}

.emailLogin{
    background-color: #82cfff;
}

.emailLogin:hover{
    background-color:#619dc2;
}

.guestLogin{
    background-color:#ffd078;
}

.guestLogin:hover{
    background-color:#d6ae63;
}

.loginText{
    font-size: 160%;
    width:50%;
    text-align: center;
}
/*--------------------------------------------------*/

.postButton{
    z-index: 2;
    position: fixed;
    font-size:570%;
    top: 89%;
    left: 87%;
    background-color: darkslategray;
    color:#ffffff;
}

.modal {
    position: fixed;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    opacity: 0;
    z-index: -1;
    text-align: center;
    background-color:#232323;
}

.is-open {
    visibility: visible;
    opacity: 0.95;
    z-index: 100;
}

.textarea{
    margin-top:10vh;
    font-size: 200%;
    width: 80vw;
    height: 50vh;
}

.closeButton{
    font-size: 500%;
    width:20vh;
}